[2022-07-22 06:35] tyn1998 commented on #411
![image](https://user-images.githubusercontent.com/32434520/180377908-364aa8c5-9e0b-4d8e-86b0-f9189f9cd090.png)

If you click the image to open it in new tab, it seems that the url is redirected to camo.githubusercontent.com, which may causes the trouble.

[2022-07-22 13:00] zhicheng-ning commented on #411
In README, all pictures which don't located in *.githubusercontent.com domian are redirected to camo.githubusercontent.com. This behavior may be related to GitHub's official Settings.

![image](https://user-images.githubusercontent.com/39022409/180442788-c303f40e-c8b0-45eb-a3d2-e148fb96d709.png)

[2022-07-22 13:39] tyn1998 opened #413 "[docs] gives <table> a <thead> in several markdown files"
### Description

![image](https://user-images.githubusercontent.com/32434520/180450973-8dedb678-2120-487d-a327-1d6fcbe06950.png)

Files are:

- https://github.com/hypertrons/hypertrons-crx/blob/fea52e15c8090c0cd8ce917b77642cd6e0fbc085/README.md
- https://github.com/hypertrons/hypertrons-crx/blob/fea52e15c8090c0cd8ce917b77642cd6e0fbc085/README.zh-CN.md
- https://github.com/hypertrons/hypertrons-crx

[2022-07-22 13:46] tyn1998 commented on #411
emm, INSTALLATION.md and INSTALLATION.zh-CN.md also have these broken images.

[2022-07-22 13:54] tyn1998 commented on #413
Please refer to this code snippet to create a table with head:

https://github.com/hypertrons/hypertrons-crx/blob/fea52e15c8090c0cd8ce917b77642cd6e0fbc085/README.md?plain=1#L18-L42

[2022-07-22 14:00] xgdyp commented on #411
I'll pick it

[2022-07-22 14:01] xgdyp commented on #411
/self-assign

[2022-07-22 14:03] xgdyp commented on #413
I'll fix it together with #411

[2022-07-22 14:03] xgdyp commented on #413
/self-assign

[2022-07-22 14:09] debjit20504 commented on #413
Ok, I'll try to fix

[2022-07-22 14:15] tyn1998 commented on #413
Hey @debjit20504, it is so nice of you that you are willing to help. But this issue was assigned to @xgdyp.

Maybe you can find other issues with "good first issue" label to contribute to Hypercrx if you like~

[2022-07-22 15:14] tyn1998 opened #414 "[UI] the width of chart container should not be fixed"
### Description

Too narrow:

![image](https://user-images.githubusercontent.com/32434520/180469760-6076ada2-3f36-4681-a5c5-65fa42d5fd4e.png)

Too wide:

<img width="911" alt="image" src="https://user-images.githubusercontent.com/32434520/180471568-cf3cad0d-a6b4-4cb6-8af8-68867fb2cd77.png">

[2022-07-22 16:29] wxharry commented on #414
Also, since we have replaced green dots with avatars, I think we should remove that.
![image](https://user-images.githubusercontent.com/39271899/180483344-8c6d2332-77b5-477a-8d63-507e2263d3b7.png)

[2022-07-23 00:50] tyn1998 commented on #414
Yes, thanks for reminding.

[2022-07-23 01:26] tyn1998 commented on #290
For edge add-on store, I plan to leverage [@plasmo-corp/ewu](https://www.npmjs.com/package/@plasmo-corp/ewu) to automatically upload the extension, following this [blog](https://blog.plasmo.com/p/edge-extension).

If we can support more browsers in the future, [web-ext-deploy](https://www.npmjs.com/package/web-ext-deploy) is also in consideration. It supports: chrome, firefox, edge and opera.

[2022-07-23 01:58] wxharry commented on #414
Or we can use a green circle as an edge of each node to keep that feature, like this:
![image](https://user-images.githubusercontent.com/39271899/180586180-0de7a06f-566c-41ed-b99c-c9f531b2a8fc.png)

[2022-07-23 04:09] #290 closed

[2022-07-23 05:18] debjit20504 commented on #414
@tyn1998  can you tell the name of the file where this chart's code is present

[2022-07-23 05:26] tyn1998 commented on #414
Hi, @debjit20504, here are two files that use [Graph](https://github.com/hypertrons/hypertrons-crx/blob/master/src/components/Graph/Graph.tsx) component. And as you can see, the width property is fixed to 480 and 780 respectively.

https://github.com/hypertrons/hypertrons-crx/blob/17934e1d07f1af8e063ed76abff066961f7ff87b/src/pages/ContentScripts/DeveloperNetwork.tsx#L139-L142

https://github.com/h

[2022-07-23 05:29] tyn1998 commented on #414
Looks good to me. But we may leave it as it is now, since the perceptor layout will be refactored in coming months I suppose. We can talk the UI later.

[2022-07-23 05:31] debjit20504 commented on #414
/self-assign

[2022-07-23 05:35] tyn1998 opened #416 "[docs] remove opera logo's link in README"
### Description

Opera can install chrome extension in specific way actually, but an opera logo with chrome webstore link is confusing:

<img width="655" alt="image" src="https://user-images.githubusercontent.com/32434520/180592166-49d09ab6-0b6f-4493-8f02-7bf3e01c639b.png">

Better to remove the link from the logo (in two README files):

<img width="1245" alt="image" src="https://user-images.githu

[2022-07-23 05:46] debjit20504 commented on #416
/self-assign

[2022-07-23 05:58] debjit20504 commented on #416
@tyn1998 I've removed chrome-webstore link from there but now if someone click on that icon now it open the opera icon in a new tab will it be ok?

[2022-07-23 05:59] tyn1998 commented on #388
Release notes generated by GitHub has user login name information:

<img width="903" alt="image" src="https://user-images.githubusercontent.com/32434520/180592579-b930b7d0-2d83-4241-b627-1f4465e1b4f6.png">

[2022-07-23 06:04] tyn1998 commented on #416
It is ok. Just like a normal image in README that can be clicked.

[2022-07-23 07:09] #416 closed

[2022-07-23 08:47] #388 closed

[2022-07-23 14:56] tyn1998 opened #420 "[Community] we invite @wxharry to be one of the Hypercrx maintainers 🎉"
### Description

Hi, @wxharry!

We are so thankful for your continuous contributions to Hypercrx, would you like to join us to be one of the Hypercrx maintainers? You will be granted to write access to this repo as well as the approver role of hypertrons if you are willing to.

Best regards,

Hypercrx core team.

[2022-07-23 15:12] wxharry commented on #420
Yes! Thank you so much @tyn1998 !!!

[2022-07-23 15:17] #387 closed

[2022-07-23 16:16] tyn1998 commented on #402
/self-assign

[2022-07-24 10:58] debjit20504 commented on #414
@tyn1998 like after changing how can I preview that weather the size of the chart is fit or not I've tried using yarn run start in vs code, and tried typescript build in atom editor can you please help me with this.

[2022-07-24 14:33] tyn1998 commented on #414
Hi, @debjit20504, sorry that I didn't get your point, could you please describe your problem in detail?

[2022-07-24 16:26] debjit20504 commented on #414
I'm saying that I have make changes in DeveloperNetwork.tsx and ProjectNetwork.tsx and after that how can I verify changes on that chart..?

[2022-07-24 16:35] tyn1998 commented on #414
oh I got you now, please see quickstart section in README. You can install the built extension to chrome.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Debjit Pramanik ***@***.***>
发送时间: Monday, July 25, 2022 12:26:32 AM
收件人: hypertrons/hypertrons-crx ***@***.***>
抄送: Lam Tang ***@***.***>; Mention ***@***.***>
主题: Re: [hypertrons/hypertrons-crx] [UI] the width o

[2022-07-24 17:12] debjit20504 commented on #414
**yesterday, I followed all those steps mentioned in the quickstart section and got this** 👇

![Screenshot (466)](https://user-images.githubusercontent.com/79047521/180658397-98e58f3b-3520-4d35-8532-92b4fb0653c3.png)

**but today, when I opened that, I got this** 👇

![Screenshot (465)](https://user-images.githubusercontent.com/79047521/180658504-6ba98bb1-9716-4bc0-a1e2-068aed94dfe2.png)

[2022-07-24 18:31] wxharry opened #422 "[Bug] `yarn run build` and `yarn run start` not working on Windows Machine"
### Description

In the commit [fix: exsiting way to write process.env.XXX does not work](https://github.com/hypertrons/hypertrons-crx/pull/384/commits/791c261fc46b2be03dfd1868c498dfbb9a172fb6), we changed the way to specify environment variables. However, the wary of adding the env variables directly to `yarn run build` and `yarn run start` doesn't work for windows Machine. Catch error:
![image](

[2022-07-24 18:44] wxharry commented on #414
It seems that there is an app using port 3000. Kill that process and try again.

[2022-07-24 19:16] wxharry opened #423 "[docs] we need to specify the available node version that compatible with all modules"
### Description

![image](https://user-images.githubusercontent.com/39271899/180662089-5a4abb8c-1520-42a1-8427-87b8ddb86d8d.png)
I got this error after I updated the latest commit. The newly added package `@plasmohq/edge-addons-api` requires a node version >=16.14, but mine is 16.13.1.

This error can be easily fixed by updating node. However, this error could be a problem for some of our contribu

[2022-07-25 00:50] tyn1998 commented on #422
Hi, @wxharry, it was a mistake. Thank you for reporting it!

Before https://github.com/hypertrons/hypertrons-crx/pull/274:

https://github.com/hypertrons/hypertrons-crx/blob/b6dc905133c58ac664b4a6183c6a9c3dec6f6bbb/package.json#L7-L14

After https://github.com/hypertrons/hypertrons-crx/pull/274, all things that related to `cross-env` are removed because they are not needed anymore until https://gi

[2022-07-25 00:53] tyn1998 commented on #422
What shell did you use?

[2022-07-25 00:58] tyn1998 commented on #414
Hi, @debjit20504!

1. Some errors raised in extension management page is ok **if every funtion of Hypercrx works**, since they are not fatal errors but sometimes more like warnings.  Actually, we are trying to reduce those errors that might scare users and develpers recently.

2. As @wxharry pointed out, you may have another app running in 3000 port. Another way to solve the problem is to simply u

[2022-07-25 01:08] tyn1998 commented on #423
Hi, @wxharry. Agree with you, we'd better add "engine" field to package.json to limit the node version and add "Requirement" to README like:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/32434520/180674653-c33d5c32-8d84-4017-89b1-e52436d4bb17.png">

By the way, it is a convention that odd version is less stable than even version, so you are encouraged to update your

[2022-07-25 01:14] wxharry commented on #423
Thank you for your information. I'm using 16.16 now.

[2022-07-25 01:19] wxharry commented on #422
windows cmd

[2022-07-25 01:20] tyn1998 commented on #422
Now I know more about `git bash`, "bash" is more important.

[2022-07-25 01:47] tyn1998 commented on #402
I have tried:

<img width="725" alt="image" src="https://user-images.githubusercontent.com/32434520/180676845-a93e4e19-f6b0-4771-b99a-f3be77191e8c.png">

But got:

![image](https://user-images.githubusercontent.com/32434520/180676787-99d7fe04-e83b-4c14-8d0d-dd50fa20060d.png)

It seems that octokit.request() catchs and handles fetch error so we cannot handle it ourselves. In another word, the red 4

[2022-07-25 01:55] tyn1998 commented on #402
I know how these errors occur when I was tackling this issue:

![image](https://user-images.githubusercontent.com/32434520/180678260-8c710464-6a1f-4a99-b7b9-56d281dd950d.png)

It is necessary to refactor this part of code, I think.

[2022-07-25 04:00] #405 closed

[2022-07-25 04:00] menbotics[bot] opened #424 "[WeeklyReport] Weekly report for hypertrons-crx 2022-7-18 to 2022-7-25"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-07-25 06:12] xgdyp commented on #411
I found typo in INSTALLATION and fix it.
<img width="549" alt="image" src="https://user-images.githubusercontent.com/37795442/180710129-5059c6d3-36c7-43f4-b710-dc11d78668bf.png">

[2022-07-25 09:40] #411 closed

[2022-07-25 09:40] #413 closed

[2022-07-25 13:56] debjit20504 commented on #414
Ok, I've tried both ways but getting the same thing 👇
![image](https://user-images.githubusercontent.com/79047521/180794191-b38522ba-f321-457d-adb2-c1d4c5d43661.png)
is there anything wrong?

[2022-07-25 14:10] tyn1998 commented on #414
localhost:3001 is where devServer hosts, there is no need to open it in browser.

Could you please record a screenshot for repo page, like:

<img width="1263" alt="image" src="https://user-images.githubusercontent.com/32434520/180797299-3e9a88a7-6f82-492f-86ac-8ab66a75fa40.png">

And after you install the fresh built unpacked extension, you should also disable Hypercrx installed from chrome websto

[2022-07-25 14:37] debjit20504 commented on #414
Ok, I'll record and update you and about that same thing I mean was I tried using kill port 3000 and other one using new port,

[2022-07-25 15:05] will-ww commented on #395
So great, and we can do more visualization work soon~

[2022-07-25 15:28] wxharry commented on #393
would be perfect if PR types match conventional commits. refer to:
* #370

[2022-07-25 15:30] tyn1998 commented on #393
Good idea 👍

<img width="804" alt="image" src="https://user-images.githubusercontent.com/32434520/180816951-68cc5824-449b-4960-b602-aa647a9ce69f.png">

[2022-07-25 15:33] wxharry commented on #422
/self-assign

[2022-07-27 06:47] debjit20504 commented on #414
![image](https://user-images.githubusercontent.com/79047521/181180013-89351ed6-0f8e-4ea6-b077-2c34d6067889.png)

![image](https://user-images.githubusercontent.com/79047521/181180097-aa4d8312-41ba-4c57-a241-2e4745af1ebd.png)

Does, this do the job.

[2022-07-27 10:26] debjit20504 commented on #414
Now, should I make a PR ?

[2022-07-27 10:34] tyn1998 commented on #414
Of course, please.

[2022-07-27 11:20] debjit20504 commented on #414
Should make PR by comparing branch OR by comparing across Fork

[2022-07-27 11:25] tyn1998 commented on #414
Hi, @debjit20504, I'm not understanding you well, but you can refer to this:

<img width="1248" alt="image" src="https://user-images.githubusercontent.com/32434520/181235537-7aaafd09-4c2b-4593-8315-60afe8e53347.png">

[2022-07-27 11:26] debjit20504 commented on #414
https://user-images.githubusercontent.com/79047521/181235765-ad60f402-9cc4-4cd1-946b-f7041c0a0cdc.mp4

[2022-07-27 11:31] tyn1998 commented on #414
Haha, now I'm sure that you may be not so familiar with how to contribute on GitHub. That is ok, I was totally a noob last year but now I'm so familiar with these things.

Please refer to: https://github.com/hypertrons/hypertrons-crx/pull/417#issuecomment-1193075664 .

[2022-07-27 11:35] tyn1998 commented on #414
Hi, @debjit20504, of course you should fork the repo first, and push the "debjit_testing" branch to your folk repo. hypertrons/hypertrons-crx should be "upstream" remote, while debjit20504/hypertrons-crx is "origin" remote.

Please refer to: https://github.com/hypertrons/hypertrons-crx/pull/417#issuecomment-1193075664 .

[2022-07-27 11:46] debjit20504 commented on #414
Thanks for the help. I'll do that. I'm dying laughing at my mistake. That how stupid I was, you know. Before making that video, I deleted that debjit_testing branch and the worst part is I have committed all the changes in that branch. So all that is gone, and Now I can't even checkout that bcoz it's the main repo, not the fork one, so git log won't do any good😂😂

[2022-07-27 11:48] debjit20504 commented on #414
nvm give me 10, 20 min after making changes I'll do PR

[2022-07-27 11:48] tyn1998 commented on #414
Oh, that is a sad story...

[2022-07-27 17:45] #422 closed

[2022-07-28 10:27] tyn1998 commented on #395
Hi, guys, I'm considering how to present these data.

I think there will be **two ways** to show the data.

- One is show them as a whole such as a multiple lines chart:
  <img width ="300" src="https://user-images.githubusercontent.com/32434520/181477221-466fe71e-7a78-443a-a661-265a5de963dc.png"/>

- Another is present each data in different and detailed way, making them more embeded. For "fork"

[2022-07-29 03:22] wxharry commented on #395
One vote for the latter one

[2022-07-29 03:27] tyn1998 commented on #395
There is no need to choose. We want both 😄 . (In my view)

An overview is for comparing and capturing screenshot, while an embeded view can gives users more immersed experience.

[2022-07-29 05:13] tyn1998 commented on #382
refined-github community also [talked about](https://github.com/refined-github/refined-github/pull/5720#issuecomment-1166277787) this issue.

[2022-07-29 06:04] tyn1998 commented on #398
I was wrong. content script and host page share one DOM so content script can access DOM's all event listeners, too.

But the removed event listener is actually useless in current strategy so it is ok to remove it from the code.

[2022-07-29 06:20] tyn1998 opened #428 "[refactor] injectedScript is unnecessary so remove it"
### Description

I wrongly thought we need an injectedScript to add event listener to the events "turbo:before-visit" and "turbo:load":

https://github.com/hypertrons/hypertrons-crx/blob/4dd7f092594924c0ee97e4cc87ae55f546feba31/src/pages/ContentScripts/index.ts#L1-L12

That was a mistake. Simply adding event listener in content script works fine, so remove the injectedScript.

[2022-07-29 06:53] #420 closed

[2022-07-29 07:38] tyn1998 opened #430 "[Feature] allow users to click one RepoActiInflTrend bar to visit issues & PRs updated during that month"
### Description

1. User click one bar:
![image](https://user-images.githubusercontent.com/32434520/181708782-aa2ee45e-8b17-4e28-92e0-5bf4b510df3c.png)

2. The issue & PR list page with proper filters opens:
![image](https://user-images.githubusercontent.com/32434520/181708228-76d4db0e-5271-44b6-bb79-64d8651bfb33.png)

[2022-07-29 08:03] tyn1998 opened #431 "[Feature] one area to present all new data (ic,oi,op,mp,rc,ad,de,s,f,p)"
### Description

Find a proper way to present all data below in one area on GitHub repo page

- ic: issue comment count
- oi: open issue count
- op: open pull count
- mp: merge pull count
- rc: review comment count
- ad: merged additions code lines
- de: merged deletions code lines
- s: stars
- f: forks
- p: participants count

[code]

[2022-07-29 08:04] tyn1998 commented on #395
Subtask:

- [ ] https://github.com/hypertrons/hypertrons-crx/issues/431

[2022-07-29 08:06] tyn1998 opened #432 "[Feature] embeded view for star and fork (s,f)"
### Description

A possible design:

<img width ="900" src="https://user-images.githubusercontent.com/32434520/181482571-bf4a8320-c78c-4ab3-b655-c5e2755ef226.png"/>

[2022-08-01 04:00] #424 closed

[2022-08-01 04:00] menbotics[bot] opened #433 "[WeeklyReport] Weekly report for hypertrons-crx 2022-7-25 to 2022-8-1"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-08-02 03:10] #428 closed

[2022-08-02 23:15] frank-zsy commented on #395
@tyn1998 Great idea of the latter one, impressive! Looking forward to the new version!

[2022-08-02 23:20] frank-zsy commented on #395
The data is here: https://oss.x-lab.info/repo_detail/hypertrons/hypertrons-crx.json, replace owner and repo to get data for different repos.

[2022-08-02 23:28] frank-zsy commented on #432
Great idea!

[2022-08-03 07:50] frank-zsy commented on #431
Some thoughts about the data:

- The data should be organized into different charts by logic rather than fit into a single chart. Like issue related, pull request related or code change.
- The data item is increase value of each month so you may not need to calculate the increase value yourself.
- Hypercrx should have a extendable mechanism since with more and more CHAOSS metrics implemented in Op

[2022-08-05 06:00] a15355447898a opened #434 "[Feature] 在每个项目的Perceptor界面中,允许选中一个节点时,显示与之相关节点的项目名称"
### Description

![image](https://user-images.githubusercontent.com/62456287/183011451-d1948c5b-eb01-494d-a811-7d22bcfd49c0.png)
比如我鼠标移动到下面那个节点,目前仅仅可以显示下面这个节点的项目名称
我希望可以把上面那个项目的名称也显示出来

[2022-08-05 06:04] a15355447898a opened #435 "[Feature] 能否在个人首页上把Starred的项目列出来"
### Description

就是把标星的项目列出,我不清楚能否实现,加油!

[2022-08-05 06:04] tyn1998 commented on #434
Hi, @a15355447898a, thank you for requesting this feature.

I think it would be more convenient for users to check out all related projects without hovering nodes one by one. It is a good idea, we will implement it in a few months.

[2022-08-05 06:12] tyn1998 commented on #435
Hi, @a15355447898a, did you mean show all projects you starred on you profile page, like this?

<img width="1298" alt="image" src="https://user-images.githubusercontent.com/32434520/183012884-c5f68a4e-1abd-4e99-ab3a-581a9150194f.png">

If so, I'm afraid that we won't adopt this idea since it is not so relevant to Hypercrx's purpose :)

[2022-08-05 06:14] tyn1998 commented on #435
You can refer to [Refined GitHub](https://github.com/refined-github/refined-github), which is an amazing extension that improve your GitHub experience.

[2022-08-05 12:47] a15355447898a commented on #435
thanks

[2022-08-05 12:47] #435 closed

[2022-08-08 04:00] #433 closed

[2022-08-08 04:00] menbotics[bot] opened #436 "[WeeklyReport] Weekly report for hypertrons-crx 8/1/2022 to 8/8/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-08-09 13:55] #347 closed

[2022-08-09 14:06] tyn1998 commented on #348
Hi, @smitsekhadiaa, the new AVC strategy has come out #397. Basicly, those big files with many lines are split into several small files and the code tree was also restructured accordingly.

If you have not started, it is great to kick off the two features based on the new AVC strategy.

[2022-08-11 17:21] smitsekhadiaa commented on #348
hey @tyn1998 , yes i'll study the new strategy and continue my work.
incase of any complexity ill reach out to you👍.
Thanks.

[2022-08-14 02:48] wxharry commented on #355
@tyn1998 Hi, Lam! do you have time for this? otherwise, looks like we need to move it to the next milestone.

[2022-08-14 12:44] wxharry opened #439 "[Bug] tab Perceptor not running"
### Version

1.6.4

### Current Behavior

tab Perceptor not running

### Expected Behavior

_No response_

### Environment

[code]

### Any additional comments?

_No response_

[2022-08-15 04:00] #436 closed

[2022-08-15 04:00] menbotics[bot] opened #441 "[WeeklyReport] Weekly report for hypertrons-crx 8/8/2022 to 8/15/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-08-15 10:45] tyn1998 commented on #423
closed via #437.

[2022-08-15 10:45] #423 closed

[2022-08-15 10:47] tyn1998 commented on #414
closed via #438.

[2022-08-15 10:47] #414 closed

[2022-08-15 10:55] #439 closed

[2022-08-17 02:26] wxharry opened #442 "[UI] add green edges to avatars in Active Developer Collabration Network graph"
### Description

After we replace the original green circle with avatar, the bar at the bottom of the graph is useless.
![image](https://user-images.githubusercontent.com/39271899/185020437-ff2bc4af-a8de-46f6-bf6d-daad02eb4ff8.png)

Instead of removing it, I suggest keeping it, and modify the shape of avatars to a circle surrounded by different green colors according to the bar, like this:
![image

[2022-08-17 03:48] tyn1998 commented on #442
Good idea!

[2022-08-22 02:19] wxharry commented on #315
We have a [website](https://github.com/hypertrons/hypertrons-crx-website). What's the difference?

[2022-08-22 02:24] tyn1998 commented on #315
The website is for normal users I think. Wiki, however, is for the purpose of writing down all technical details so interested developers can know how to develop the extension.

[2022-08-22 04:00] #441 closed

[2022-08-22 04:00] menbotics[bot] opened #443 "[WeeklyReport] Weekly report for hypertrons-crx 8/15/2022 to 8/22/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-08-29 04:00] #443 closed

[2022-08-29 04:00] menbotics[bot] opened #444 "[WeeklyReport] Weekly report for hypertrons-crx 8/22/2022 to 8/29/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-08-29 04:01] wxharry commented on #315
Hey Lam @tyn1998! Do we have an outline on what we are going to add to the wiki?

[2022-08-29 04:04] wxharry commented on #315
* #369
* #393
* #370
* [Keep "service worker" DevTools page open](https://github.com/hypertrons/hypertrons-crx/pull/274#discussion_r811878203)

[2022-08-29 10:26] tyn1998 commented on #315
Thank you for listing the existing subtasks here!

Well, the anwser is... not yet.

[2022-08-29 15:19] wxharry commented on #315
I will help with the wiki, just append anything that came to your mind to that list so that we can work on it 😸

[2022-09-01 18:57] wxharry commented on #368
Please check it out! [wiki/CI--CD](https://github.com/hypertrons/hypertrons-crx/wiki/CI--CD)
It has to be CI--CD, not CI/CD because slash is not a valid character in filename.
Also, I used mermaid to draw the diagrams. [mermaid](https://github.com/mermaid-js/mermaid) is an amazing diagramming and charting tool which can render markdown text to diagrams.

[2022-09-05 04:00] #444 closed

[2022-09-05 04:00] menbotics[bot] opened #445 "[WeeklyReport] Weekly report for hypertrons-crx 8/29/2022 to 9/5/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-09-06 07:23] tyn1998 opened #446 "[Docs] provide the pronounciation of "Hypercrx" in README"
### Description

Someone asked me how to pronounce Hypercrx then I realized this important info had been missed for so long!

[2022-09-06 10:16] tyn1998 commented on #432
Kick off today 💪

[2022-09-06 13:17] tyn1998 commented on #432
Oh a terrible mistake made by me is that I purely ignored the truth that that data in month is the event number but not the absolute increase number, which makes "increment stars/forks" impossilbe to get.

I think we should not bring users inaccurate information in such an important place. Trying to find another proper way...

[2022-09-06 13:41] wxharry commented on #446
is it hyper-C-R-X ?

[2022-09-06 13:42] tyn1998 commented on #446
Yes.

[2022-09-08 02:50] smitsekhadiaa commented on #348
hey @tyn1998 , i'll raise a draft PR today itself.
Thankyou.

[2022-09-08 03:05] #446 closed

[2022-09-08 13:01] tyn1998 commented on #395
Hi guys, I have come up with a more clear design:

<img width="1336" alt="image" src="https://user-images.githubusercontent.com/32434520/189128041-b12eb898-f453-4d7e-b8dc-41583d6042f7.png">

There is no need to present them all together in another single area I think, so I will close #431.

[2022-09-08 13:24] wxharry commented on #395
I think we need to think about the way to trigger those diagrams. Users will frequently click `issues`, `pull requests` and it could be annoying if the diagram is triggered each time they click it.

[2022-09-08 13:27] tyn1998 opened #448 "[Feature] a data center to fetch, store and provide data for charts and components"
### Description

We need a data center for reasons:

1. Soon, there will be components that demand data from different json files at once.
2. Decrease network requests (though most of them hit the browser cache)
3. https://github.com/hypertrons/hypertrons-crx/issues/402

[2022-09-08 13:31] tyn1998 commented on #395
Yeah, there will be a delay after mouse hovering on those elements. Between 500ms and 1000ms maybe.

[2022-09-11 02:49] wxharry opened #449 "[Bug] Browser won't auto refresh when updating messages in src/locales/"
### Version

1.6.4

### Current Behavior

Browser won't auto refresh when updating messages in `src/locales/`. (Already follow the quick start instructions)

### Expected Behavior

When some changes are made within `src/locales/`, the browser will auto refresh and update the changes.

### Environment

[code]

### Any additional comments?

This issue was originally found by @smitsekhadiaa.

[2022-09-11 02:49] wxharry commented on #449
/self-assign

[2022-09-11 04:20] #449 closed

[2022-09-12 04:00] #445 closed

[2022-09-12 04:00] menbotics[bot] opened #451 "[WeeklyReport] Weekly report for hypertrons-crx 9/5/2022 to 9/12/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-09-12 07:22] tyn1998 commented on #448
An illustration:

![Hypercrx数据中心示意图-1](https://user-images.githubusercontent.com/32434520/189595393-321c1c41-45a3-4196-b1c2-d10b6c15f329.jpg)

Hi @zhicheng-ning, do you have any idea to implement this feature? Such as a proper design pattern or whatever you've learned about.

[2022-09-12 07:47] zhicheng-ning commented on #448
Hi @tyn1998 , I think this [link](https://juejin.cn/post/6947936223126093861) maybe helpful.

[2022-09-12 08:21] tyn1998 commented on #448
@zhicheng-ning, thank you for sorting the murdle in my head (face to face)!

After discussing with you guys, I realize that what I really need is not what I described above. I will change the issue title and modify the description part later.

[2022-09-12 10:10] zhicheng-ning commented on #448
It seems like DTO（Data Transfer Object）, it can add or decrease the data field in the response object for different request purposes.

[2022-09-12 14:39] tyn1998 commented on #395
The fluent-ui control [TeachingBubble](https://developer.microsoft.com/en-us/fluentui#/controls/web/teachingbubble) is not flexible:

<img width="930" alt="image" src="https://user-images.githubusercontent.com/32434520/189682299-d37657d9-c759-4062-ae05-574f4c08a37c.png">

Fortunately we have [react-tooltip](https://www.npmjs.com/package/react-tooltip), which is way more customizable:

<img width="

[2022-09-16 14:56] wxharry opened #457 "[docs] Add troubleshooting to wiki"
### Description

We would like to collect troubles and errors that users or developers encountered when using hypercrx. It would be great if we could have a troubleshooting section in our wiki to collect relevant issues and solutions.

[2022-09-17 08:44] smitsekhadiaa opened #458 "[Bug] Husky error: Command not found on git commit -m " ""
### Version

_No response_

### Current Behavior

After adding the changes to the working tree, on `git commit -m " " ` the terminal on windows (powershell and command prompt) are showing error- husky : command not found in PATH

![image](https://user-images.githubusercontent.com/90528630/190848394-f2473008-d7e9-4f52-8201-760c4e3ff60b.png)

### Expected Behavior

After git add -A , git commit -m "

[2022-09-17 10:03] tyn1998 commented on #458
![image](https://user-images.githubusercontent.com/32434520/190851192-dad38b78-f263-4ff2-a681-be539716cacf.png)

Hi @smitsekhadiaa, I have tested `git commit` operation on my windows machine which has a really clean environment and everything works well. I'm afraid that the issue is a specific one that only occurs on your machine.

The environment troubles are always disappointing and suck, be pat

[2022-09-17 10:25] tyn1998 commented on #458
Hi, @zhicheng-ning, could you help to `git commit` a random change on your windows machine and upload a screenshot here? We are eager to know if the issue is a general problem on windows.

[2022-09-17 10:32] zhicheng-ning commented on #458
ok, this action is in on the latest branch.

![image](https://user-images.githubusercontent.com/39022409/190852339-22ee6e2f-6f62-4984-9ef6-a65b9126fe5a.png)

[2022-09-17 23:16] wxharry commented on #458
The first line indicates that the error might because of `node`, please check this issue to see if it would help. @smitsekhadiaa https://github.com/nodejs/node/issues/29287

[2022-09-18 05:26] smitsekhadiaa commented on #458
The error is solved.
the error was due to If you're running Git from an app and the command can be found in your terminal, this means that the PATH in your app is different from your terminal.
`git config --unset core.hooksPath`
The above command unsets the hookspathif its different
To revert the git-flow hooks directory back to its default you need to reset the config to point to the default Git

[2022-09-18 05:26] #458 closed

[2022-09-18 05:27] smitsekhadiaa commented on #458
Thankyou @tyn1998 @zhicheng-ning  @wxharry  for your time.

[2022-09-19 02:39] wxharry commented on #368
I am gonna close this issue since the wiki page has been created

[2022-09-19 02:39] #368 closed

[2022-09-19 04:00] #451 closed

[2022-09-19 04:00] menbotics[bot] opened #459 "[WeeklyReport] Weekly report for hypertrons-crx 9/12/2022 to 9/19/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-09-20 01:21] wxharry commented on #457
I added [smit's issue](https://github.com/hypertrons/hypertrons-crx/issues/458) to the troubleshooting in wiki, but seems like we need to discuss the format a little bit. Any advice @tyn1998 ?

[2022-09-20 01:44] tyn1998 commented on #457
@wxharry meaningful job, thanks!

For me, the size of the font is too big. Maybe consider this layout:

**Error: husky - Command not found when committing**(#458)

**trouble2xxxx**

**xxx**

No title level font, just make troubles bold and solutions referenced.

[2022-09-26 04:00] #459 closed

[2022-09-26 04:00] menbotics[bot] opened #461 "[WeeklyReport] Weekly report for hypertrons-crx 9/19/2022 to 9/26/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-09-27 02:29] tyn1998 commented on #278
This chart is amazing too:

<img width="1313" alt="image" src="https://user-images.githubusercontent.com/32434520/192417318-fd75f27d-d91c-4c25-b591-3db2a686fcb2.png">

enconter it in https://docs.halo.run/

[2022-09-28 02:35] wxharry commented on #355
@tyn1998 Hey, Lam. I would like to work on this issue. Any advice?

[2022-09-28 11:00] tyn1998 commented on #355
Hi, @wxharry, I'm afraid that I cannot provide much information on this issue since I'm not so familiar with the related code. But one thing should not be forgotten, which is to remove all configuration code related to Antv:

<img width="1313" alt="image" src="https://user-images.githubusercontent.com/32434520/192762195-08d8df81-291b-4978-b412-9ac8ce20c2af.png">

You can start handling this as you

[2022-09-28 13:10] wxharry commented on #355
I guess I can start with removing the antv dependencies and remove all that miss dependencies hahaha

[2022-10-02 06:05] tyn1998 opened #463 "[Bug] perceptor components cannot be disabled"
### Version

1.6.4

### Current Behavior

toggling the two components won't work as expected.

![image](https://user-images.githubusercontent.com/32434520/193439895-81a8281a-c1b7-4df6-ba63-79760c531022.png)

After checking out early versions, I can be sure that the toggle feature still worked in v1.6.3 (before AVC refactoring).

### Expected Behavior

if the two components are disabled in option p

[2022-10-02 06:27] tyn1998 commented on #463
Actually, this is another side effect introduced by "[using class name as key](https://github.com/hypertrons/hypertrons-crx/issues/383#issuecomment-1177033138)".

Here is the reason: after AVC(#397), anchors rather (anchors, views, ... as a whole) to be injected into Perceptor, so the featureId now are like: "developerNetworkAnchor", "projectNetworkAnchor" instead of the old "developerNetwork", "p

[2022-10-02 06:49] tyn1998 commented on #463
The solution can be very easy as below (though not so elegant in the aspect of designing):

<img width="1341" alt="image" src="https://user-images.githubusercontent.com/32434520/193441399-9c7847c0-f341-41af-8467-d6dfa05e815f.png">

Hello @andyhuang18 @wj23027, are you interested in fixing this issue? It is really easy and I have given the solution. Just one line should be changed!

If you are inte

[2022-10-02 13:51] wj23027 commented on #463
/self-assign

[2022-10-02 14:30] #463 closed

[2022-10-02 17:39] wxharry opened #465 "[Bug] redirect to undefined when click the edges"
### Version

1.6.4

### Current Behavior

When I click the edges between two developers in the Active Developer Collabration Network graph, it redirects me to an [github undefined page](https://github.com/undefined).
<img width="1470" alt="image" src="https://user-images.githubusercontent.com/39271899/193467854-cd3a2c19-27f2-46c3-8812-ee2e64c098df.png">
<img width="1470" alt="image" src="https://u

[2022-10-03 01:45] tyn1998 commented on #355
closed via #462

[2022-10-03 01:45] #355 closed

[2022-10-03 02:40] #465 closed

[2022-10-03 02:51] tyn1998 commented on #355
<img width="1224" alt="image" src="https://user-images.githubusercontent.com/32434520/193493093-f1461936-6187-4f05-a6d2-a626d12e000f.png">

The size of the packed extension without antv packages has been reduced by 2/3 👍

[2022-10-03 04:00] #461 closed

[2022-10-03 04:00] menbotics[bot] opened #467 "[WeeklyReport] Weekly report for hypertrons-crx 9/26/2022 to 10/3/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-10-05 01:56] tyn1998 opened #468 "[Bug] `Public template` is not regarded as public repo"
### Version

1.6.4

### Current Behavior

<img width="1300" alt="image" src="https://user-images.githubusercontent.com/32434520/193962652-a4c3fa1a-884c-42bd-b39a-7e9da96b91ac.png">

### Expected Behavior

Features should run on this kind of repo.

### Environment

[code]

### Any additional comments?

N.A.

[2022-10-05 02:07] tyn1998 commented on #468
The solution is:

<img width="1490" alt="image" src="https://user-images.githubusercontent.com/32434520/193963774-00f0992e-80c3-49e1-a6cc-0df873005e59.png">

Hi @andyhuang18, would you like to help? :)

[2022-10-05 02:11] andyhuang18 commented on #468
Sure~ I will try to solve it today！^_^

[2022-10-05 02:11] tyn1998 commented on #395
Hi @frank-zsy, I have encountered  many data missing? Is that expected?

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/32434520/193964258-490153d6-0956-4de5-a78d-e2b95c3a4903.png">

[2022-10-05 05:43] andyhuang18 commented on #468
/self-assign

[2022-10-06 02:25] #468 closed

[2022-10-06 10:25] frank-zsy commented on #395
@tyn1998 I am not sure why I use lowercase for all the repo names, so the file is at `https://oss.x-lab.info/repo_detail/microsoft/typescript.json` , I will fix this in recent update.

[2022-10-06 14:25] #432 closed

[2022-10-10 04:00] #467 closed

[2022-10-10 04:00] menbotics[bot] opened #472 "[WeeklyReport] Weekly report for hypertrons-crx 10/3/2022 to 10/10/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-10-11 10:30] tyn1998 opened #473 "[style] the width of tooltip is too small"
### Description

After changing the legend name (which is longer then the original ones), the width of tooltip is too small, where we forgot to adjust.

![image](https://user-images.githubusercontent.com/32434520/195066894-75928e7a-d9c9-46ae-963b-213014202eeb.png)

[2022-10-11 10:38] tyn1998 commented on #473
![image](https://user-images.githubusercontent.com/32434520/195068824-6461c63f-daf4-4ae7-9387-acc1e7b49295.png)

[2022-10-11 10:43] tyn1998 commented on #473
Hi @wj23027 @andyhuang18, GFI again :)

This task is very simple, but this time I won't provide an anwser 😆 Do you have interest in solving this?

[2022-10-12 00:27] wxharry opened #474 "[Feature] an extensible option management system"
### Description

Since we have implemented a lot of features, we have a bunch of components. I think we should have a management option in the settings pages so that the users can switch on and off the components. Right now we only have two of them, but I think we should cover most of the components.

![image](https://user-images.githubusercontent.com/39271899/195221853-c6416b60-513a-42e1-ab5d-737

[2022-10-12 01:42] tyn1998 commented on #474
Totally agree.

[2022-10-12 03:39] zhicheng-ning opened #475 "[CI] auto add issues comment reply status"
### Description

mark the status of the issue as pending handle (contributor should reply) or pending feedback (issue author should reply) like this

![image](https://user-images.githubusercontent.com/39022409/195244142-d5b5ae68-74e9-4b12-bc3d-2aa0b0896563.png)

Reference: https://github.com/dataease/dataease/issues

[2022-10-12 04:15] wxharry commented on #475
The idea is great. However, we have already had `menbotics` to help manage the repo, including labels. Is it a good way to use two different bots to manage the labels?

[2022-10-12 04:23] zhicheng-ning commented on #475
Since I'm not familiar with `menbotics`, if the `menbotics` can be configured to implement above function, we can just use `menbotics`.

[2022-10-12 04:28] tyn1998 commented on #475
@zhicheng-ning thanks for your idea!

Please tell me if I understand right: this CI will toggle the labels multiple times once new comments are made into a certain issue?

[2022-10-12 04:54] zhicheng-ning commented on #475
Yes,only issue author comment and other comment are distinguished and triggered only when two adjacent comments belong to the above two types of comments

[2022-10-12 05:11] tyn1998 commented on #475
This toggle ability is great, so maintainters can get issue status in issue list page at a glance.

I have some suggestions:

- rename labels for better understranding: waiting for repliers & waiting for author, respectively
- give the two labels two colors: not decided yet (can adopt the colors used by [dataease](https://github.com/dataease/dataease/issues))

[2022-10-12 05:28] zhicheng-ning commented on #475
I see. I will update my pull request later.

[2022-10-12 05:49] tyn1998 commented on #475
Done!

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/32434520/195260404-2efe2457-e2d0-4827-8242-25c87dfeea77.png">

[2022-10-12 06:49] #475 closed

[2022-10-12 06:51] tyn1998 commented on #472
A test comment for https://github.com/hypertrons/hypertrons-crx/pull/476.

[2022-10-12 12:36] wj23027 commented on #473
/self-assign

[2022-10-13 08:16] #473 closed

[2022-10-13 15:30] tyn1998 opened #478 "[Bug] style of perceptor tab in profile page crashes"
### Version

1.7.0

### Current Behavior

<img width="1312" alt="image" src="https://user-images.githubusercontent.com/32434520/195639776-52f7cf01-4de7-45c4-8477-7cb8eb3c3632.png">

### Expected Behavior

Not as above.

### Environment

[code]

### Any additional comments?

Pending for a few days to see if it is really a GitHub style change

[2022-10-14 01:28] wxharry commented on #478
Anyway, we would need to modify the style to be conformed with our new features.

[2022-10-14 07:32] xgdyp opened #479 "[Bug] sidebar render again when backing"
### Version

_No response_

### Current Behavior

I use hypercrx v1.7.0 and If I browse some one's profile , It run correctly like
![image](https://user-images.githubusercontent.com/37795442/195787995-dbbe7093-3ce6-48a4-89e8-134b59b21697.png)
Then I jump to a link like
![image](https://user-images.githubusercontent.com/37795442/195788289-4483c4e0-815c-4c33-874a-952a2cbe1f14.png)
It run correctly,

[2022-10-14 08:03] tyn1998 commented on #479
Hi, @xgdyp. Thanks for your feedback!

Unexpected behaviours that happen in history navigation is not uncommon. I wrote code to handle these problems before, but as you encounter them again, GitHub has apparently updated their UI recently.

[2022-10-14 08:10] tyn1998 opened #480 "[UI] the position of a chart title should be adjusted"
### Description

To make it center:

<img width="572" alt="image" src="https://user-images.githubusercontent.com/32434520/195795746-37325be3-ff1c-4ce2-80b6-c23d2c5be734.png">

PS: the issue is introduced by recent commits so the published version is not affected.

[2022-10-14 10:51] andyhuang18 commented on #480
Maybe I can have a try~

[2022-10-14 10:53] tyn1998 commented on #480
:thumb_up: Great!

andyhuang18 ***@***.***>于2022年10月14日 周五18:52写道：

[2022-10-14 11:21] zhicheng-ning commented on #478
Me too.
![image](https://user-images.githubusercontent.com/39022409/195834670-d55b58ae-8c78-4c0a-b275-91c0e022349f.png)

- Environment
[code]

[2022-10-15 04:13] xgdyp commented on #479
OK

[2022-10-16 05:45] #480 closed

[2022-10-16 10:44] tyn1998 commented on #479
,so we should fix this. This issue will be closed by a PR.

[2022-10-17 04:00] #472 closed

[2022-10-17 04:00] menbotics[bot] opened #483 "[WeeklyReport] Weekly report for hypertrons-crx 10/10/2022 to 10/17/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-10-18 02:35] #478 closed

[2022-10-18 02:47] tyn1998 commented on #457
Now it looks like this:

<img width="1192" alt="image" src="https://user-images.githubusercontent.com/32434520/196323935-31df2017-218e-47e2-8c83-fab25a3cc6e4.png">

[2022-10-18 02:47] #457 closed

[2022-10-18 02:55] #479 closed

[2022-10-18 03:14] tyn1998 commented on #315
Actually we already have wiki pages, but need to add more stuff.

<img width="1329" alt="image" src="https://user-images.githubusercontent.com/32434520/196327149-a071b05e-0bbd-4a90-b1af-e2de3c6dc6d4.png">

[2022-10-18 03:14] #315 closed

[2022-10-18 06:28] tyn1998 commented on #348
Add a `data-id` attribute can avoid element to be flushed after tab switching and it also keeps the scrolling animation from being interrupted.

<img width="1364" alt="image" src="https://user-images.githubusercontent.com/32434520/196352336-1cc08b7f-a274-4cdd-885e-ecff6cce4d88.png">

[2022-10-18 07:53] frank-zsy opened #487 "[Feature] Custom data aggregation function for users."
### Description

Right now, we have lots of data to show in Hypercrx, but for users, they may want to know the aggregated result for multiple repositories or even compare among different sets of repos.

Can we add a new config in Hypercrx to provide aggregate function. Add a new config like this:
[code]
Then the data show in hypertrons-crx repo should be an aggregated result of two repos.

Further

[2022-10-18 08:53] smitsekhadiaa commented on #348
yes, i've have inserted the banner at the required position 👍

[2022-10-18 09:10] #393 closed

[2022-10-18 18:19] wxharry commented on #487
That is great!
IMO, we could add a new view in `perceptor` tab to show the aggretated results and comparison features.
It sounds like a new project to me thou.

[2022-10-19 02:01] tyn1998 commented on #487
Hi @frank-zsy, personally I think it's kind of wierd to make a certain repo to be a dashbord of aggregated data for a group of projects. If we want to show aggregated data for an Org, we can put charts in GitHub org pages.

If we want to show aggregated data that contains projects in different organizations, like X-lab and Hypertrons, I am inclined to use Extension Options Page(which can do more t

[2022-10-19 02:04] tyn1998 commented on #487
Hi @wxharry, the Perceptor might be a dashboard or a reactive report in future :)

See https://github.com/X-lab2017/open-digger/issues/986#issuecomment-1266481486

[2022-10-19 02:15] frank-zsy commented on #487
@tyn1998 Good point. But my concern is that if a user put lots repo groups in setting, the page in favorite groups could be really long. And at most time, users may want to compare group of projects, then the most instinct place is in these repos.

[2022-10-19 03:02] tyn1998 commented on #487
Oh I got your point: how to directly go to current repo's group page without scrolling and searching?

Maybe we can also put a button in a repo page if the current repo is in one of the user's favourate groups, then a click on the button will bring the user to the group-level page the repo belongs to.

[2022-10-19 03:08] tyn1998 commented on #487
Another thing to concern: if we use `.github/hypertrons.json` to store the repo groups, only maintainers of repos can control what repos are in a group; if we use `chrome.storage` to store the repo groups, we let users control their favourate groups.

The two strategies both have their strength.

[2022-10-22 02:01] frank-zsy opened #489 "[Doc] Readme suggestion."
### Description

I think right now it is really hard to find out the extensions installation path in the README doc even for me.

I think we should move the `install` part before the `Dashboard` part, and use click hyperlinks rather than browser logos to tell the users exactly where to find the extensions.

<img width="456" alt="image" src="https://user-images.githubusercontent.com/8512426/1973119

[2022-10-22 02:09] frank-zsy commented on #489
And I think Opera extension is not available right now, am I right?

[2022-10-22 02:20] frank-zsy commented on #489
And according to the [installation guide docs](https://github.com/hypertrons/hypertrons-crx/blob/master/INSTALLATION.md#-360-safety-explorer), we may also support 360-safety and 360-speed browser as well.

Does the release process cover these two types, if not we may need to remove the counterpart from the docs too.

[2022-10-22 03:01] tyn1998 commented on #489
Hi @frank-zsy, I totally agree with you. People complained about the hard-to-find download icons several times, so we should make them more outstanding.

Yes, the icon should not be there.

These browsers are chromium based, so they can install chrome extension. But we don’t have a workflow to upload the extension to 360 webstore, so I think we can temporarily remove them from the install guidance

[2022-10-22 03:03] frank-zsy commented on #489
Alright, I will remove other browser related doc int the PR #490 as well.

/self-assign

[2022-10-22 05:50] frank-zsy opened #491 "[Feature] Google or Baidu analytics embed"
### Description

I really want to know how many developers use Hypercrx and how often do they use it.

Is it possible to embed Google analytics or Baidu tongji into extension?

[2022-10-22 05:58] tyn1998 commented on #491
Google Analytics from Chrome Webstore:

"安装量和卸载量"：

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/32434520/197322917-e4e32b46-3fc5-452f-b694-545517e56b6d.png">

“展示次数”：

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/32434520/197322999-15bf8784-53f1-487e-ba3e-f700b449b8e5.png">

“周用户人数”：

<img width="1146" alt="image" src="https://user-i

[2022-10-22 06:03] tyn1998 commented on #491
# Edge Add-on Store Analysis

### 每周用户数

<img width="1102" alt="image" src="https://user-images.githubusercontent.com/32434520/197323134-2d5f2746-66f2-4eef-9355-01650f37070c.png">

### 安装

<img width="1106" alt="image" src="https://user-images.githubusercontent.com/32434520/197323150-c52c8424-2c51-4840-bf61-78d82325b43b.png">

### 展示数

<img width="1095" alt="image" src="https://user-images.githubu

[2022-10-22 06:03] frank-zsy commented on #491
Alright, so the data can be accessed in the Chrome store, and Chrome already did this for all the extensions right? Great, thanks.

[2022-10-22 06:05] tyn1998 commented on #491
Yes, anyone with admin access to the extensiion can visit the analysis page.

[2022-10-22 06:06] frank-zsy commented on #491
Got that, thanks.

[2022-10-22 06:06] #491 closed

[2022-10-22 13:08] tyn1998 commented on #489
We also have Chinese README 😆 , the always forgotten one.

Hi, @Zzzzzhuzhiwei, would you like to update the Chinese README?

[2022-10-22 13:14] Zzzzzhuzhiwei commented on #489
Sure!

/self-assign

[2022-10-22 13:35] #489 closed

[2022-10-22 14:30] will-ww commented on #491
Really great~

[2022-10-23 11:00] Lucyaaaaaaaa opened #493 "how to calculate influence"
How exactly is influence calculated？

[2022-10-23 12:37] tyn1998 commented on #493
Hi @Lucyaaaaaaaa, metrics such as `activity` and `influence` are defined and implemented in [X-lab2017/open-digger](https://github.com/X-lab2017/open-digger). For `influence`, actually it is implemented as `openrank`, you can get more information by referring to [activity_or_openrank.ts](https://github.com/X-lab2017/open-digger/blob/master/src/metrics/activity_openrank.ts) or [activity_or_openrank

[2022-10-23 13:29] #493 closed

[2022-10-24 04:00] menbotics[bot] opened #494 "[WeeklyReport] Weekly report for hypertrons-crx 10/17/2022 to 10/24/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-10-24 04:00] #483 closed

[2022-10-26 09:04] frank-zsy opened #495 "[Feature] More detail should be updated for hover popup panels."
### Description

After the great feature in #395 , we got several new panels on GitHub. But I think we need more details refined for the feature, the problems I encounter are:

- The new panels do not support i18n, they are always in English, so we should make them support i18n and follow the config.
- The new panels do not support light mode and dark mode change, so we should make two different a

[2022-10-26 11:16] tyn1998 commented on #495
Hi, @frank-zsy, thanks for your valuable suggestions!

Agree.

Actually, the new charts do support the two themes and there are minor differences. You may find them identical because I set background color to black for both groups of charts. Do you think we should change the backgroud color to white in light theme?

Ok~

How about this:

<img width="1270" alt="image" src="https://user-images.githu

[2022-10-27 02:55] frank-zsy commented on #495
Thanks for the reply @tyn1998 , actually I get help from a designer friend of mine and you can look into the new design [here](https://www.figma.com/file/lHPwpACIjHsGQp1sgW4flf/Work-with-Frank?node-id=471%3A0), you can take a look and evaluate if all the changes can be implemented?

[2022-10-27 02:57] tyn1998 commented on #495
Professional and impressive!

I will implement the look as much as I can.

[2022-10-27 03:05] tyn1998 commented on #495
/self-assign

[2022-10-27 12:31] will-ww commented on #495
So cool~

[2022-10-29 18:26] xxchan opened #496 "[enhanecment] node links are hard to select"
### Description

There are too many links in the graph and it's hard to find a link between two nodes.

<img width="561" alt="image" src="https://user-images.githubusercontent.com/37948597/198847171-e2587b33-a946-4f2e-a974-c6bb310a1183.png">

[2022-10-29 18:28] xxchan opened #497 "[Bug] wrong popup position for repo"
### Version

_No response_

### Current Behavior

<img width="714" alt="image" src="https://user-images.githubusercontent.com/37948597/198847271-2f344b1d-f735-4eac-98ae-62953cd8a813.png">

### Expected Behavior

_No response_

### Environment

[code]

### Any additional comments?

_No response_

[2022-10-30 02:02] tyn1998 commented on #496
Hi @xxchan, thanks for your valuable suggestion!

The links in repos that have many collaborators are actually hard to view and interact with. We will improve this :)

[2022-10-30 02:06] tyn1998 commented on #497
Hi @xxchan, thanks for your feedback. The issue might be due to a recent GitHub UI update, we will fix it ASAP.

[2022-10-30 02:28] tyn1998 opened #498 "[docs] add a section to introduce OpenDigger so people can know more about our data"
### Description

Data is the core of Hypercrx. If people know more about OpenDigger, they will know more about our data.

[2022-10-30 02:35] tyn1998 opened #499 "[Feature] make Hypercrx available in Firefox"
### Description

Many people use Firefox and they want to use Hypercrx in their favourate browser.

[2022-10-30 02:47] tyn1998 commented on #497
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/32434520/198860026-2ce0640c-b82d-4873-b259-cfd0e6811935.png">

Well, I cannot reproduce the issue on my machine. It seems the teaching bubble is still in its right position. Can you guys help to check if the bug occurs on your machine? @xgdyp @zhicheng-ning @wxharry @wj23027 @andyhuang18 @lhbvvvvv @Zzzzzhuzhiwei

Note: th

[2022-10-30 15:31] wxharry commented on #497
Hi xxchen, I cannot reproduce the bug either. Could you check which version of hypercrx are you currently using? The current version should be version 1.7.1.

[2022-10-30 15:41] xxchan commented on #497
I found this happens when used together with another extension: https://github.com/refined-github/refined-github

[2022-10-31 01:29] tyn1998 commented on #497
Refined GitHub, that's it! I remember.

https://github.com/X-lab2017/open-wonderland/discussions/142#discussion-4255880

xxchan ***@***.***> 于 2022年10月30日周日 23:41写道：

[2022-10-31 01:45] wxharry commented on #497
Unfortunately, hypercrx currently is not compatable to refine-github. Users may need to swtich off some of the features of refined-github to use hypercrx properly.

[2022-10-31 01:56] zhicheng-ning commented on #497
It seems no problem in my environment.
[code]
![image](https://user-images.githubusercontent.com/39022409/198915595-64ef1a2d-6376-4572-9a30-a46796edf532.png)

[2022-10-31 04:00] #494 closed

[2022-10-31 04:00] menbotics[bot] opened #500 "[WeeklyReport] Weekly report for hypertrons-crx 10/24/2022 to 10/31/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-10-31 04:30] tyn1998 commented on #497
Thank you for your feedback, I think we have found the cause so the issue will be closed :)

[2022-10-31 04:30] #497 closed

[2022-11-06 07:27] tyn1998 commented on #430
oops, the function is broken, let me cc.

/self-assign

[2022-11-06 09:22] Zzzzzhuzhiwei opened #504 "[Bug] When clicking Perceptor, the orange line appears under the Insights button"
### Version

1.7.2

### Current Behavior

When clicking Perceptor, the content displayed on the screen is Perceptor, however, the line appear under the Insights button.

![image](https://user-images.githubusercontent.com/115639837/200160817-a1f6c9d8-2c92-43c4-b03d-f5f8798c6aab.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/115639837/200161078-1751ba60-848d-4d43-a30

[2022-11-06 11:33] tyn1998 commented on #499
News: Early next year, Firefox will release Mozilla’s Manifest V3 (MV3).

See: https://blog.mozilla.org/addons/2022/10/31/begin-your-mv3-migration-by-implementing-new-features-today/

[2022-11-06 11:58] tyn1998 opened #506 "[CI/CD] a more flexible release workflow is needed"
### Description

At the moment we have a [release-deploy](https://github.com/hypertrons/hypertrons-crx/blob/a056deb25138704eeeb4be31517e788a62b29a16/.github/workflows/release-deploy.yml) workflow that releases a new version and uploads the built extension to webstores.

However, the workflow lacks flexiblity:

- version bumping is only controlled by semantic version, cannot be specified a new vers

[2022-11-06 12:02] tyn1998 commented on #506
Hi @wxharry, could you help with this improvement? It is not an emergent issue so you can take your time.

[2022-11-06 15:50] wxharry commented on #506
sure. I will work on this.
/self-assign

[2022-11-06 16:00] #504 closed

[2022-11-06 17:40] #430 closed

[2022-11-07 04:00] #500 closed

[2022-11-07 04:00] menbotics[bot] opened #507 "[WeeklyReport] Weekly report for hypertrons-crx 10/31/2022 to 11/7/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-11-07 04:40] xgdyp commented on #507
It's maybe ... wrong?

[2022-11-07 04:52] will-ww commented on #507
@frank-zsy  :-)

[2022-11-07 08:30] xueqidove opened #508 "[Other] I can't click the link to open the page for downloading Hypercrx extension of Google Browser"
### Description

Whether I have an agent or not, I can't click the link to open the page for downloading Hypercrx extension of Google Browser.

[Chrome](https://raw.githubusercontent.com/alrra/browser-logos/90fdf03c/src/chrome/chrome.svg) [Click here to install Chrome extension](https://chrome.google.com/webstore/detail/hypercrx/ijchfbpdgeljmhnhokmekkecpbdkgabc)

![image](https://user-images.githu

[2022-11-07 08:54] xueqidove commented on #508
Done

[2022-11-07 09:23] #508 closed

[2022-11-07 09:24] frank-zsy commented on #507
Yes, menbotics right now is not configure properly like open-digger-bot, I will fix it.

[2022-11-07 09:39] xueqidove opened #509 "[Question] API request"
### Description

Can you provide all github apis used by this plug-in

[2022-11-07 09:43] tyn1998 commented on #509
Hi @xueqidove, here is [a main API](https://github.com/hypertrons/hypertrons-crx/issues/395#issuecomment-1203311818) we are using at the moment.

There are several other APIs actually, but they might be deprecated recently, so I will not provide them here.

[2022-11-07 11:47] frank-zsy opened #510 "[UI] Slight change request of new UI design"
### Description

As mentioned in #495 , we have a new design style, but there are still some slight changes need to be made.

1. Should add 4px for top padding.
![image](https://user-images.githubusercontent.com/8512426/200292924-dab1bcd8-77a7-4319-aaa6-a6c24923ec8f.png)
2. Should minus 4px for left and right padding.
![image](https://user-images.githubusercontent.com/8512426/200292988-84c6c2a9-e1

[2022-11-07 12:05] tyn1998 commented on #487
Hi guys, I produced a prototype for this feature in [MasterGo](https://mastergo.com/file/77026605554366?page_id=M&source=link_share), you can have a look :)

https://user-images.githubusercontent.com/32434520/200306078-f16e06bf-24e2-40e9-83e8-5c36ef0dda80.mov

[2022-11-07 12:30] tyn1998 commented on #510
Anyone wants to take this issue? Feel free to self-assign :)

[2022-11-07 12:32] wj23027 commented on #510
I can try to do it~

[2022-11-07 12:38] wj23027 commented on #510
/self-assign

[2022-11-07 15:33] wxharry commented on #498
#509

[2022-11-08 02:00] frank-zsy commented on #487
That is really cool!

[2022-11-08 14:30] wxharry opened #512 "[UI] add dark mode for hypertron command pop up window"
### Description

As we are improving the new features of hypercrx. We should also improve the UI style for some old features to ensure a uniform style of hypercrx.

![image](https://user-images.githubusercontent.com/39271899/200590691-3dcc09c6-5f74-429a-93be-909ae8025dd7.png)

[2022-11-09 06:35] #510 closed

[2022-11-09 06:38] andyhuang18 commented on #512
/self-assign

[2022-11-11 03:16] frank-zsy opened #515 "[Refactor] Data migration"
### Description

As the feature implemented in https://github.com/X-lab2017/open-digger/pull/1036 , the data for OpenDigger will be in a new place with new identical form.

The basic URL will be `https://oss.x-lab.info/open_digger/github`, and there will be 16 repo metrics and 2 user metrics right now. The repo metric will be at `{basicUrl}/{owner}/{repo}/{metric}.json` and user metric will be at

[2022-11-11 07:49] tyn1998 commented on #512
closed via #514

[2022-11-11 07:49] #512 closed

[2022-11-11 08:29] tyn1998 commented on #515
Hi, @frank-zsy, a few questions here:

1. what is the definition of `attention`?
2. why `fork` is prefixed with `technical_` while `stars` is not?
3. any advice for presenting `bus_factor`?
4. should we make all above metrics appear in GitHub UI?

[2022-11-11 11:06] frank-zsy commented on #515
- Attention is 2 * fork + star, which is also an index build by X-lab.
- We keep identical with CHAOSS if the metric exists in CHAOSS. `technical_fork` is a CHAOSS metric while `stars` is not.
- I don't think we should put all the metrics into Hypercrx, you can decide how to use them, I just list them here. You can decide put `bus_factor` into Hypercrx or not, I think this is an interesting metric

[2022-11-11 16:24] JellyZero opened #516 "[Feature] 网站数据哪里来的"
### Description

[Feature]  网站数据哪里来的

[2022-11-12 02:10] tyn1998 opened #517 "[Bug] sometimes the header popups cannot be triggered"
### Version

1.7.2

### Current Behavior

I cannot provide an accurate method to repeat the problem, but I have encountered the issue many times, especially when I visit unclosed pages in next morning:

<img width="612" alt="image" src="https://user-images.githubusercontent.com/32434520/201451555-3ef130c3-e128-4871-8ae3-473585296ded.png">

### Expected Behavior

The popups will be triggered anytim

[2022-11-12 02:20] tyn1998 commented on #498
For README, How about naming the section as "Data Source" | "数据来源" and insert it to between "Install" and "Dashboard"?

<img width="1335" alt="image" src="https://user-images.githubusercontent.com/32434520/201452009-92ffbd44-7158-46aa-b5db-2925490fe43c.png">

<img width="1335" alt="image" src="https://user-images.githubusercontent.com/32434520/201452025-0727b961-f109-4e49-b631-46958977d733.png">

[2022-11-13 04:19] tyn1998 commented on #517
I found a way to repeat the problems:

1. visit a repo page
2. click another tab such as "Issues"
3. go to profile page by clicking your avatar in right top corner
4. go back to repo page by clicking your browser's "go back" button
5. now the three labels will not respond to your mouse hover

[2022-11-13 13:44] frank-zsy opened #519 "[Feature] Issue and pull request related interactions"
### Description

In issue and pull request charts, when clicking on a certain month data point we can show the data of the certain month.

Like when clicking on the `2021-11` data point in the issue chart on the opens line, we can jump into a new URL like https://github.com/hypertrons/hypertrons-crx/issues?q=is%3Aissue+created%3A2021-11-01..2021-11-30

Or when clicking on the `2020-11` data point

[2022-11-13 14:52] wxharry commented on #519
Looks similar to a previous issue:
* #430
I made this one a good first issue, anyone wants to take it? Can refer to the issue I mentioned above.

[2022-11-13 14:56] frank-zsy commented on #519
@wxharry Yes, quite similar, we can design a mechanism to show data for all possible chart interactions.

[2022-11-14 00:42] frank-zsy commented on #519
@wxharry Does #430 work now? I find that in my Hypercrx, clicking on activity or influence chart does not lead to a new URL.

[2022-11-14 01:51] wxharry commented on #519
Yes. What version are you using? There was a known bug on that feature, clicking is useless on English version. We have fixed it, but might haven't publish that version yet.

[2022-11-14 01:53] frank-zsy commented on #519
Thanks, I am using Hypercrx with the English version, the function works fine after switching to the Chinese version.

[2022-11-14 04:00] #507 closed

[2022-11-14 04:00] menbotics[bot] opened #520 "[WeeklyReport] Weekly report for hypertrons-crx 11/7/2022 to 11/14/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-11-14 15:16] tyn1998 commented on #498
/self-assign

[2022-11-14 15:16] #509 closed

[2022-11-14 15:17] tyn1998 commented on #509
API has changed, please refer to https://github.com/hypertrons/hypertrons-crx/issues/515

[2022-11-14 15:45] #517 closed

[2022-11-15 05:05] tyn1998 commented on #515
/self-assign

[2022-11-15 05:27] andyhuang18 commented on #519
/self-assign

[2022-11-15 05:28] tyn1998 commented on #515
Hi @frank-zsy, should I change `Influence` to `OpenRank`?

<img width="378" alt="image" src="https://user-images.githubusercontent.com/32434520/201833781-a4f0c604-cfe3-45a8-a4ef-6a66c2992d24.png">

[2022-11-15 06:37] frank-zsy commented on #515
I think OpenRank is better since influence is quite ambiguous, but if we call this OpenRank then we must have a link about how OpenRank is calculated which maybe a document in OpenDigger.

[2022-11-15 08:30] tyn1998 commented on #515
Well, another question: Is it necessary to translate "OpenRank" to Chinese?

[2022-11-15 09:46] frank-zsy commented on #515
I think we don't need to translate OpenRank to Chinese.

[2022-11-15 09:50] #498 closed

[2022-11-15 09:50] #516 closed

[2022-11-15 14:25] #515 closed

[2022-11-18 08:04] tyn1998 opened #526 "[Refactor] replace all occurrences of "Influence" with "OpenRank""
### Description

As discussed in https://github.com/hypertrons/hypertrons-crx/issues/515#issuecomment-1314794762, "Influence" will be no longer used. We need to replace the occurrences of the name with "OpenRank" in all places such as code objects and docs.

[2022-11-18 08:07] Zzzzzhuzhiwei commented on #526
/self-assign

[2022-11-18 10:51] tyn1998 commented on #519
closed via #524

[2022-11-18 10:51] #519 closed

[2022-11-19 07:57] TommyLemon opened #527 "[Awesome] Thank you for your great work ❤️"
### Description

https://github.com/Tencent/APIJSON
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/5738175/202840936-dd798b11-4370-422d-8d13-904ad04f3e56.png">
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/5738175/202840962-e0fc450e-e2ce-433c-bfb1-7f8b1b0a3a44.png">
<img width="1279" alt="image" src="https://user-images.githubusercontent

[2022-11-19 08:02] TommyLemon opened #528 "[Bug] Part of the chart for stars was covered"
### Version

1.7.3

### Current Behavior

Part of the chart for stars was covered.
https://github.com/Tencent/APIJSON

![](https://user-images.githubusercontent.com/5738175/202840962-e0fc450e-e2ce-433c-bfb1-7f8b1b0a3a44.png)

### Expected Behavior

Move the chart lower that make it show completely.

### Environment

[code]

### Any additional comments?
None.

[2022-11-19 08:05] zhicheng-ning commented on #527
You may also be instersted in [OpenDigger](https://github.com/X-lab2017/open-digger) that offer data for hypertrons-crx 😄.

[2022-11-19 08:09] TommyLemon commented on #527
thx, btw, how can I view the statistics for a specific repo or account?
eg:
https://github.com/Tencent/APIJSON

https://github.com/TommyLemon

[2022-11-19 11:23] zhicheng-ning commented on #527
If you want to know :
- a specific repo, you can follow [project-related](https://github.com/hypertrons/hypertrons-crx#project-releated).
- a specific account, you can follow [developer-related](https://github.com/hypertrons/hypertrons-crx#developer-releated).
- more detail data, you can go to  [OpenDigger](https://github.com/X-lab2017/open-digger) raise some issues.

btw, we'll be coming up with

[2022-11-19 12:50] tyn1998 commented on #528
Hi @TommyLemon, thanks for your feedback! But I cannot repeat the problem you met🤔  :

<img width="1525" alt="image" src="https://user-images.githubusercontent.com/32434520/202851554-7dc045c7-cfb2-4979-bbe9-d5b39691b109.png">

<img width="1528" alt="image" src="https://user-images.githubusercontent.com/32434520/202851583-35133ea9-e689-4ec5-9a82-d83847281cbd.png">

[2022-11-19 12:52] tyn1998 commented on #527
Hi @TommyLemon, we are so glad that you love the extension! We will make it a better one :)

[2022-11-19 14:10] andyhuang18 commented on #528
When I open page in window mode and scroll the page sightly, this problem arises.

![微信截图_20221119220713](https://user-images.githubusercontent.com/50283262/202854762-fc377d8e-2c83-4ef2-9bc3-12c350211f97.png)

[2022-11-19 14:12] tyn1998 commented on #528
I have also tried this way but cannot reproduce the phenomenon 😆

[2022-11-19 15:07] TommyLemon commented on #528
@tyn1998 u need to scroll up the web page, if u don't, it will just show completely.
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/5738175/202857426-87d43af9-d75a-4073-ae9f-9a7b6af0fcba.png">

[2022-11-19 15:51] TommyLemon opened #530 "[Idea] Do stars or forks influence the statistics for Activity or Influence?"
### Description

It doesn't seems to be that.
Well, I think the stars and forks should also be factors for the statistics of Influence.
And also, an account that relates to a famous/big company should influence more than other accounts.
Eg: If a Google employee starred a repo, the star he/she gave is more valuable than an account that relates to Baidu or even not relates to any company or organiza

[2022-11-20 03:37] tyn1998 commented on #530
Yes, forks and stars at the moment have no influence on the caculation of `Activity` and `Influence`.

Good point of view! Hi @frank-zsy, how do you think about this?

Eg: If a Google employee starred a repo, the star he/she gave is more valuable than an account that relates to Baidu or even not relates to any company/organization.

That is a good advice!

Hi @TommyLemon, if you are interested in

[2022-11-20 05:15] frank-zsy commented on #530
@TommyLemon Thanks for the discussion.

Metrics of open source repos are used for certain purpose. For `activity` and `influence`, I constrain the data to collaboration events, so stars and forks are not included since they are not really collaboration events.

Specially for `influence`, this [blog](https://blog.frankzhao.cn/how_to_measure_open_source_2) tells how to calculate the result by ***col

[2022-11-20 05:18] frank-zsy commented on #530
@TommyLemon And I am not really sure about how OSSInsight finds out the affiliation data of each developer, but there are really some legal risks to use the privacy data of developers like company affiliation or location.

[2022-11-20 14:45] #526 closed

[2022-11-21 04:00] menbotics[bot] opened #531 "[WeeklyReport] Weekly report for hypertrons-crx 11/14/2022 to 11/21/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-11-21 04:00] #520 closed

[2022-11-21 07:35] sunny0826 opened #532 "[Proposal] Build a website to show our chart just like star-history.com"
### Description

This is a very interesting project. **I wish more people understood and used it.**

However, the users and distribution channels of browser plugins are still limited. I want us to build a website (like [start-history](https://star-history.com ) that outputs charts as images (CSV, Embed Chart, etc. ) and I want to embed these charts in my projects, profiles and wherever.

This give

[2022-11-21 08:38] tyn1998 commented on #373
Hi guys, you may find `activity` of repos and users (no matter which month they belong to) decrease dramatically this month. That is because we use the square root of the original `activity` instead. @frank-zsy can tell you more about this transition.

[2022-11-22 02:22] sunny0826 commented on #532
refer repo:
- https://github.com/bytebase/star-history
- https://github.com/yoshi389111/github-profile-3d-contrib
- https://github.com/tipsy/profile-summary-for-github
- https://github.com/vn7n24fzkq/github-profile-summary-cards
- https://github.com/rzashakeri/beautify-github-profile

[2022-11-22 05:06] tyn1998 commented on #506
I'm also thinking it may be not necessary for Hypercrx to adopt `convontional commits` + `semantic versioning` to manage its versions, as @frank-zsy once pointed out the combination is not suitable for OpenDigger since we are not building a library-like or framework-like project that will be a dependency of other projects. And at the moment, we never have the chance to bump the major number since

[2022-11-22 07:16] tyn1998 opened #533 "[Enhancement] instance.resize() make the page slow"
### Description

In https://github.com/hypertrons/hypertrons-crx/pull/438, we listened window resize event and put `instance.resize()` into the event callback, in that way the charts in perceptor became responsive to window size changes.

However, this makes the page slow once a user switches to perceptor tab:

https://user-images.githubusercontent.com/32434520/203248929-c4d49d0a-0f36-4516-8c1a-ed

[2022-11-22 13:58] wxharry commented on #506
I totally agree. The semantic versioning could be redundant here. I am planning to use it only for automation purposes or maybe completely remove it from the workflow.

[2022-11-23 09:07] tyn1998 opened #534 "[Feature] a better feature manager"
### Description

Hypercrx has many features(almost them are charts at the moment) and they are all [registered](https://github.com/hypertrons/hypertrons-crx/blob/1269689bf749d5fde189dfdf47d485103f19d0af/src/pages/ContentScripts/index.ts#L23-L35) to [Perceptor class](https://github.com/hypertrons/hypertrons-crx/blob/1269689bf749d5fde189dfdf47d485103f19d0af/src/Perceptor.tsx#L69-L71). I think there

[2022-11-23 14:18] #527 closed

[2022-11-23 15:55] #533 closed

[2022-11-25 01:34] frank-zsy commented on #534
I would like to know more detail about the architecture, I think I started the register strategy in the very early edition of Hypercrx.

[2022-11-26 00:30] will-ww commented on #532
Many thanks, so many interesting projects~

[2022-11-28 04:00] #531 closed

[2022-11-28 04:00] menbotics[bot] opened #538 "[WeeklyReport] Weekly report for hypertrons-crx 11/21/2022 to 11/28/2022"
# Weekly Report of hypertrons-crx

This is a weekly report of hypertrons-crx. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:-----:|:--

[2022-11-30 06:56] will-ww opened #540 "[Feature] Link _Collections_ with Perceptor Project Correlation Network"
### Description

According to https://github.com/hypertrons/hypertrons-crx/issues/487, add _Collections_ to Hypercrx has a great value.

In order to make the _Collections_ more relative to the navigating project, I think one of the _Default_ collection can be the _Project Correlation Network_ collection. I think developers have some interested in finding the projects info that are related to the g